extends ./_base/_layout
block append vars
  - var path = './';
block title
  title= title
block append meta
block append link
  link(rel="stylesheet" href=`${path}assets/css/style.css`)
block body
  .wrapper
    canvas#canvas
    .form
      .input-wrapper
        label(for="vertical") 垂直
        input#vertical(
          type="range"
          name="vertical"
          max="100"
          min="1"
          step="1"
          value="50"
        )
      .input-wrapper
        label(for="horizontal") 水平
        input#horizontal(
          type="range"
          name="horizontal"
          max="100"
          min="1"
          step="1"
          value="50"
        )
block append script
  script(src=`${path}assets/js/main.js`)
